@use "./variables" as *;
@import "./setup";
@import"./typography";
@import "./main";


    
    // =================================
    // ++++++++BASE STYLES++++++++++++++
    // =================================
    
    
    .wrapper{
        max-width: 1600px;
        width: 80%;
        margin: 0 auto;
    }

    .ylwundrline{

    }

   
    


